.board-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.row {
  display: flex;
  background-color: #cccab9;
  border-radius: 2rem;
}

.col-two-twelfths {
  width: calc((2 / 12) * 100%)
}

.col-eight-twelfths {
  width: calc((8 / 12) * 100%)
}

body {
  background-color: papayawhip;
}

.margin-tb-1rem {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.bank {
  width: 45%;
  height: 100%;
  background-image: url(imgs/flower-pit2.svg);
  background-position: center;
  background-size: 75%;
  border-left: double 15px #304B71;
  border-right: double 15px #304B71;
  background-repeat: repeat-y;
  margin: auto;
}

.pit {
  width: 4rem;
  height: 4rem;
  position: relative;
  border-radius: 2.4rem;
  border: double 15px #304B71;
  margin: auto;
  /* box-shadow: 2px 2px 5px rgba(0,0,0,0.5),
            inset 5px 5px 8px rgba(0,0,0,0.5); */
  background-image: url(imgs/floral-ornament2.svg);
  background-size: 100%;
  background-color: #e0ddc6;
  background-repeat: no-repeat;
}


.seed {
  border-radius: 2rem;
  height: 1rem;
  width: 1rem;
  opacity: 0.85;
  background-image: url(https://www.svgrepo.com/show/282935/cherry-blossom-floral.svg);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
